.transactionlistContainer {
    margin: 20px 0px;
    width: 100%;
}

.transactionlistContainer ul li{
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;  
}