.breakdownContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 20px;
    margin: 20px 0px;
    box-shadow: 0px 0px 10px 2px lightgrey;
}

.breakdownContainer div:nth-child(2){
    border-left: solid lightgrey 2px;
}

.breakdownContainer div {
    padding: 10px 50px;
    text-align: center;
}

.breakdownContainer div p{
    color: limegreen;
    font-size: 1.5em;
    font-weight: 500;
}

.breakdownContainer div:nth-child(2) p{
    color: red;
}


